body
{
  padding: 0;
  margin: 0;
  max-width: 1250px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: white; 
  color: #302226;
  font-size: 16px;
}

a:link { text-decoration:none; cursor:pointer; }
a:visited { text-decoration:none }
a:link:hover { text-decoration:underline }
a:visited:hover { text-decoration:underline }
a:link:active { text-decoration:none }

#heading a { color: black; }

.jumbotron {
  padding: 30px;
  line-height: 1.6em;
}

.jumbotron h1 {
  font-size: 50px;
}

.canto-front-page .curs-contact-page-link {
  float: left;
  padding: 10px;
}
.canto-front-page .footer {
  margin-top: 40px;
}
.canto-front-page .footer h2 {
  font-size: 11pt;
  line-height: 1.8ex;
}
.canto-front-page .footer p {
  font-size: 0.8em;
  line-height: 2.2ex;
}
.docs, #content {
  margin: 0 8px 0 8px;
}
.docs .row-fluid div {
  clear: right;
}
.docs .btn.visit {
  float: right;
  clear: right;
  margin: 5px;
  margin-bottom: 25px;
}
.docs th {
  text-align: left;
}
.docs table {
   width: auto;
   margin: 10px;
}

.canto-type-list-name {
  font-weight: bold;
}

.docs ul li {
  list-style-position: outside;
  list-style-type: square;
}

ul li {
  list-style-type: none;
}

.docs ul li {
  padding-top: 10px;
}

button, input[type=submit] {
  white-space: nowrap;
  cursor: pointer;
}

img {
  border-width: 0px;
  /* fix bootstrap style which makes images small in tables: */
  max-width: 999px;
  /* fix bootstrap vertical-align: middle */
  vertical-align: bottom;
}

#heading {
  position: relative;
  background-color: #eef;
  -moz-box-shadow: 0px 3px 3px #666;
  -webkit-box-shadow: 0px 3px 3px #666;
  box-shadow: 0px 3px 3px #666;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  text-align: center;
}
#heading .text {
  margin:0 auto;
  width: 60%;
  padding: 10px;
  font-size: 150%;
  font-weight: bold;
}
#logo-and-caption {
  float: left;
  line-height: 1.5ex;
}
#logo {
  padding: 5px;
}
#logo, #logo-caption {
  vertical-align: botton;
  display: inline-block;
  /* IE6/7 */
  *display: inline;
  zoom: 1;
}
#logo-caption-main {
  font-size: 120%;
  text-align: left;
}
#logo-sub-caption {
  font-size: 50%;
  text-align: left;
}

div#footer {
  padding-top: 30px;
}

div#footer .sponsor, .canto-front-page .footer .sponsor {
  float: right;
  padding-top: 3.5em;
  padding-left: 20px;
  padding-bottom: 25px;
}

#error-list .error, #message-list .message, #notice-list .notice {
  padding: 10px;
  margin: 20px 0px 10px 5px;
  width: 62%;
  clear: both;
}

#notice-list .notice {
  border: 2px solid blue;
  background-color: white;
}

#error-list .error {
  border: 2px solid red;
  background-color: #fff2f2;
}

#message-list .message {
  border: 2px solid green;
  background-color: white;
}

#message-list .message .title, #error-list .error .title {
  font-weight: bold;
}

#menu {
  float: right;
  right: 0px;
  top: 0px;
  margin: 0;
  padding: 0;
  text-align: left;
}
#menu * {
  float: none;
  font-weight: normal;
}
#menu .useridentifier {
  margin: 0; padding: 0 8px 0 8px;
  display: inline;
  text-decoration: none;
}
#menu .useridentifier .logged-in-address {
  font-size: 80%;
}

#content {
  padding: 15px;
  clear: both;
/*  -moz-box-shadow: 0px 4px 3px #666;
  -webkit-box-shadow: 0px 4px 3px #666;
  box-shadow: 0px 4px 3px #666; */
}

#page-description, #curs-page-description {
  display: block;
  text-align: center;
  width: 55%;
  top: 0px;
  margin: auto;
  margin-top: 0px;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
}
#title-nav {
  position: relative;
}

#right-title {
  font-weight: bold;
  display: block;
  padding: 5px;
  float: right;
  font-size: 120%;
}

#curs-page-description .curs-user-and-reassign {
  font-size: 70%;
}
#canto-sub-title {
  display: block;
  text-align: center;
  margin-top: 8px;
}

.curs-user-and-reassign {
  display: block;
  top: 0px;
  margin: auto;
  margin-top: 8px;
  float: right;
  clear: right;
  font-size: 80%;
}
.curs-user-and-reassign .useridentifier {
  display: inline-block
}
.curs-user-and-reassign .curs-reassign {
  font-size: 80%;
}
#curs-page-description .curs-reassign {
  margin-left: 10px;
}

#breadcrumbs {
  margin: 0px;
  clear: both;
  float: left;
  left: 0px;
  top: 0px;
  font-size: 90%;
  margin-left: -10px;
  white-space: nowrap;
}
#breadcrumbs ul {
  margin: 0; padding: 0;
  display: inline;
  float: left;
}

#breadcrumbs ul li, #breadcrumbs button {
}

#breadcrumbs ul li, #breadcrumbs .breadcrumbs-link {
  padding-left: 11px;
  background-image: url(../images/right_empty_triangle.png);
  background-repeat: no-repeat;
  background-position: top left;
}

#breadcrumbs ul li {
  list-style-type: none;
}
#breadcrumbs .breadcrumbs-link {
  margin-left: 10px;
}
#breadcrumbs ul li a {
  text-decoration: none;
}
#breadcrumbs ul li a:hover, . ul li .current {
  background-color:#0b75b2;
}

#title-nav .curs-contact-page-link {
  margin-right: 20px;
  font-size: 90%;
  white-space: nowrap;
  float: right;
}
.dialog-submit {
  clear: right;
  float: right;
}

.field-list {
  padding-bottom: 10px;
  margin: 10px 0px 5px 0px;
}
.field-list td {
  padding-bottom: 4px;
}

#front-page {
  padding: 10px;
}

table.list {
  margin: 10px;
  border-width: 0px;
  border-spacing: 5px;
  border-style: solid;
  border-color: gray;
  border-collapse: collapse;
  font-size: 90%;
}
table.list th {
  padding: 3px;
  background-color: #d0d0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  font-weight: bold;
  text-align: left;
  white-space: nowrap;
}
table.list tr.even, table.list tr:nth-child(even) {
  background-color: #eed;
}
table.list tr.odd, table.list tr:nth-child(odd) {
  background-color: white;
}
.list th a:link {
  color: #226
}
table.list td {
  vertical-align: top;
}

table.list tr td {
  border-width: 1px;
  padding: 3px;
  border-style: solid;
  border-color: #bbb;
}

table.list thead {
  font-weight: bold;
}

table.list thead img.sort-direction-icon {
  padding-right: 5px;
}

.field-label {
  color: #226;
  white-space: nowrap;
}
.field-value {
  color: #332;
  font-size: 95%;
}
.attribute-field {
  font-weight: bold;
}
.non-important-attribute-field {
  font-weight: normal;
}

.sect .sect-title {
  background-color: #ddd;
  color: #227;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 1px 5px 1px 5px;
  margin: 3px;
  display: inline
}

.undisclosed-title {
  background-image: url('../images/right_triangle.png');
  background-repeat: no-repeat;
  background-position: center left
}
.disclosed-title {
  background-image: url('../images/down_triangle.png');
  background-repeat: no-repeat;
  background-position: center left
}

td.table-row-actions {
  border: 0px solid white !important;
  background-color: white !important;
}
td.table-row-actions div {
  white-space: nowrap;
  font-size: 95%;
}

.curs-evidence-directive > div {
  margin: 5px 0px 5px 0px;
}

.curs-evidence-directive-with {
  margin: 8px 0px 8px 0px;
}

.curs-evidence-conditions {
  padding: 20px 0px 0px 0px;
}
.curs-evidence-conditions .tagit {
  font-size: 80%;
}
.curs-evidence-conditions-help {
  color: #111;
}

.sect .sect-title a {
  margin-left: 9px;
}

.sect {
  margin: 20px 0px 10px 0px;
}

.sect-content {
  margin: 2px 5px 2px 5px;
}

.infobox {
  padding: 8px 0px 8px 0px;
}

.infobox table.list {
    font-size: 95%;
}

.infobox .title {
    background-color: #ddd;
    color: #227;
    font-size: 110%;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 1px 5px 1px 5px;
}

/* front page: */
.actionlist {
    font-weight: bold;
    border: 1px solid grey;
}
.actionlist h3 {
    margin: 10px;
}

.actionlist ul {
    padding: 8px;
    margin: 1em;
    font-size: 95%;
}
.actionlist li > ul {
    padding: 3px 0px 3px 20px;
    margin: 0px;
}
.actionlist ul li {
    list-style: none;
    white-space: nowrap;
}

/* FormFu and misc inline errors */
.error_message {
  color: red;
}

/* editing: */
div.submit {
    float: right;
}

div.edit_link {
    float: right;
}

span.error_constraint_required {
    color: red;
    font-size: 90%;
}

/* page navigation */
.page_nav_summary, .page_nav_actions {
    font-size: 90%;
    margin: 15px 0px 10px 0px;
}
.page_nav_summary {
  display: inline;
}
.page_nav_actions {
  display: inline;
  margin-left: 10em;
}
.page_nav_actions a:visited {
  color:#026; text-decoration:none;
}

.page_nav_no_link {
  color: #777;
}
.page_nav_link {
}
.page_nav_current {
    font-weight: bold;
}

.page_nav_number_link {
  border: 1px solid #aaa;
  background-color: #ddf;
}
.page_nav_number_current {
  font-weight: bold;
  font-size: 110%;
  border: 1.8px solid #666;
  background-color: #ddf;
}

#login {
    padding: 10px;
}
#logout {
    padding: 10px;
}

div.clearall {
  clear: both;
}

.curs-content {
  margin-top: 1em;
}

.curs-top-help {
  font-weight: bold;
  font-size: 105%;
  padding-left: 20px;
  padding-bottom: 10px;
}

.annotation-start {
  margin-left: 30px;
  padding: 5px;
}

.annotation-start ul {
  margin: 0px;
  padding: 0px;
}

.annotation-start li {
  text-decoration: none; 
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

.annotation-start li > .annotation-type {
  color: #777;
}

.annotation-extension {
  margin: 10px 0 10px 0;
}

.upload-genes-link {
  float: left;
}

.gene-list table {
  font-size: 95%;
  border-width: 0px;
  margin: 4px;
}
.gene-list td {
  border-width: 0px;
  font-size: 95%;
}

.gene-list td {
  padding-right: 30px;
  width: 150px;
  white-space: nowrap;
}

.gene-list .no-genes-message {
  font-size: 95%;
  margin: 10px;
}

.gene-list .gene-list-instructions, .genotype-list .curs-genotype-list-instructions {
  font-size: 95%;
  margin-bottom: 10px;
}

.curs-genotype-edit-gene-list {
  margin-top: 20px;
}

.feature-list-action {
  font-size: 90%;
  margin: 12px 2px 0px 2px;
}

.gene-list .annotation-count {
  color: green;
  font-size: 80%;
}

#heading .pubid {
  float: right;
  width: 45%;
}

#heading .pubid {
  clear: right;
  font-size: 70%;
  margin: 10px 5px 5px 5px;
}

.email-address {
  font-style: italic;
  color: #666;
}

.long-action-link {
  margin: 5px;
}

.app_version {
  color: #aaa;
  font-size: 50%;
}

.current-gene {
  font-weight: bold;
}

.publication-name {
  font-weight: bold;
}

.autocomplete-warning {
  color: red;
  font-weight: bold;
}

.ui-autocomplete-loading { 
  background: white url('../images/ui-anim_basic_16x16.gif') right top no-repeat;
}

.ui-menu-item {
  font-size: 60%;
}

.curs-autocomplete-definition h3 {
  padding: 0;
  margin: 0;
}
.curs-autocomplete-definition {
  font-size: 70%;
  width: 20em;
  min-height: 5em;
  z-index: 999999;
  position: absolute;
  overflow: auto;
}

#ferret {
  list-style-type: none;
}

#ferret-term-entry {
  width: 75%;
  margin-top: 10px;
}


#ferret-term-entry .ferret-term-entry-inside > div {
  margin-bottom: 8px;
}

#ferret-term-entry-extra-help div {
  margin: 5px;
  font-size: 95%;
}

#ferret-term-details, #curs-interaction {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 25px;
}

.curs-definition-table, .curs-allele-list {
  table-layout: fixed;
  border-collapse: collapse;
  margin: 10px;
}

.curs-definition-table tbody {
  font-size: 90%;
}

.curs-definition-table td {
  vertical-align: top;
  padding: 2px 5px 2px 5px;
}

.curs-definition-table td.title {
  white-space: nowrap;
  border-right: 2px solid black;
  font-weight: bold;
}

#ferret-accept-term-proceed-message {
  clear: both;
  float: right;
}

.term-id {
  color: #000;
  font-weight: bold;
}

.term-definition {
  display: block;
}

.term-comment {
  display: block;
}

.term-name {
  display: block;
}

.curs-obsolete-term {
  text-decoration: line-through;
  color: #e22;
  background-color: #eee;
}

.curs-obsolete-term:after {
  text-decoration: none;
  content: 'OBSOLETE';
}

#ferret-children-details {
  width: 90%;
  min-height: 10em;
}

#ferret-term-children-list {
  font-size: 90%;
}

#curs-interaction .curs-multi-feature-chooser {
  width: 80%;
}

#curs-interaction .curs-multi-feature-chooser-element {
  width: 12em;
  float: left;
}

.curs-box {
  border: 1px solid #ddd;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: white;
}

.curs-box-title {
  margin-left: 0%;
  background-color: #dbf0f7;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  -moz-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  -moz-border-top-left-radius: 4px;
  border-top-left-radius: 4px;
  font-weight: 700;
}

.curs-box-title .curs-inline-help-icon {
  float: right;
}

.curs-box-body {
  margin: 0px;
  padding: 5px;
}

#ferret-accept-term-details {
  width: 90%;
  margin: 5px;
}

#ferret-ignore-children {
  margin: 5px;
}

#ferret-term-children ul {
  padding: 0px 0px 0px 2em;
}

#ferret-term-children ul li img {
  padding: 0px 0px 0px 0.4em;
}

#ferret-term-children ul li {
  padding: 2px;
  text-decoration: none;
}

#ferret-suggest-link, #ferret-cancel-children {
  margin: 10px 0px 10px 0px;
}

.inline-help {
  color: #010;
  margin: 0px 0px 10px 0px;
}

.ferret-more-help {
  margin: 5px;
  font-size: 95%;
  display: none;
}

.canto-more-button {
  white-space: nowrap;
}

.evidence-select .select, .with-gene-select .select {
  display: inline;
}

.evidence-select div.submit, .with-gene-select div.submit {
  float: none;
  display: inline;
  margin: 10px 0px 0px 30px;
}

.with-gene-select form, .evidence-select form {
  margin-top: 10px;
}

.placeholder {
  color: #999;
}

#ferret-suggest-form label.error {
  color: red;
}
#ferret-suggest-form td {
  text-align: top;
}

.triage .pub-details {
  width: 68%;
  float: left;
}
.triage .pub-details .triage-abstract .sect-content {
  font-size: 90%;
}

.triage .status-settings {
  width: 28%;
  float: right;
}

.triage li {
  list-style-type: none;
  padding: 2px;
}
.triage li a {
  text-decoration: none;
}
.triage li a:hover {
  background-color:#0b75b2;
}

fieldset.curs-genes span {
  display: block;
}

#curs-upload-help {
  padding-top: 5px;
  font-size: 90%;
}

#curs-annotation-tables {
  clear: both;
  padding-top: 15px;
  width: 90%;
  font-size: 95%;
}

.curs-annotation-incomplete-message {
  padding-left: 10px;
  font-size: 85%;
}
#curs-annotation-download {
  padding: 10px;
  font-size: 90%;
}

.curs-matched-search-term {
  font-weight: bold;
}

span.canto-select-buttons {
  display: block;
  margin: 10px;
}

#curs-gene-list, #curs-genotype-list, #curs-front-page .pub-title, .curs-half-width-section {
  font-size: 90%;
  float: left;
  width: 45%;
  margin: 5px 10px 5px 5px;
}

.curs-finish-buttons {
  float: right;
  margin: 5px;
  margin-top: 10px;
  margin-left: 8px;
}

.curs-finish-button {
  float: right;
  margin: 5px;
  margin-top: 10px;
  margin-left: 8px;
}

.curs-back-button {
  float: left;
  margin-top: 10px;
  margin-bottom: 5px;
  margin-right: 8px;
}

.ui-dialog {
   font-size: 80%;
   z-index: 2000 !important; /* in front of AngularJS modal */
}
.ui-dialog .ui-dialog-titlebar, .curs-ui-dialog-subheading .ui-dialog-title {
   padding: .2em 1em .1em;
}

.curs-ui-dialog-subheading {
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 1.5em;
}

.curs-external-links {
  float: right;
  display: inline;
  clear: right;
}
.curs-external-links .links-title {
  font-size: 80%;
}
.curs-external-link {
  float: right;
  clear: right;
}

#pubmed-id-lookup-results {
  clear: left;
  padding-top: 20px;
}

#pubmed-id-lookup .curs-box-body {
  height: 3em;
}

#pubmed-id-lookup-input, #pubmed-id-lookup-submit {
  display: inline;
  float: left;
}

#pubmed-id-lookup-message {
  clear: both;
  padding-top: 15px;
}

#pubmed-id-lookup-waiting {
  display: inline;
  float: left;
}

#pubmed-id-lookup-results, #curs-assign-session, #curs-gene-update,
#curs-gene-list-edit {
  width: 70%;
}

#curs-submitter-update .pub-details {
  padding: 5px 70px 10px 40px;
}

#curs-gene-update .textarea {
  padding-top: 15px;
}

#curs-gene-list-edit .upload-genes-link {
  margin: 10px;
  font-size: 90%;
}

input[type="submit"] {
  margin: 5px;
}

input[readonly="1"] {
  color: #555;
}

.ajax-spinner {
  margin-bottom: -10px;
  padding-bottom: -10px;
  margin-left: 15px;
  display: none;
}

.curs-box:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.deleted-annotation span {
  text-decoration: line-through;
  color: #e22;
  background-color: #eee;
}

.sect.triage-pubmed-type {
  float: left;
}

.sect.triage-citation, .sect.triage-pubmed-type, .sect.triage-experiment-types, .sect.triage-curation-priorities, .sect.triage-assigned-curator, .sect.triage-flags {
  float: left;
  padding-right: 40px;
}
.sect.triage-flags, .sect.triage-abstract {
  clear: left;
}

#curs-pub-finished .curs-box {
  width: 60%;
  margin-bottom: 10px;
}

.curs-pub-assign-actions {
  float: left;
  padding: 5px 1px 15px 1px;
}

.curs-inline-message-to-curators {
  clear: right;
  float: right;
}

.sect.triage-comment {
  clear: left;
}

.curs-allele-edit-dialog td {
  padding-right: 1em;
}

.curs-allele-evidence-select {
  width: 22em;
}
.curs-allele-type-select select, .curs-allele-description-input {
  width: 18em;
}
.curs-allele-row {
  vertical-align: top;
}

.curs-allele-description-delete {
  padding-left: 5px;
}

#curs-allele-add .curs-allele-reuse {
  border-top: 1px solid grey;
  padding: 5px;
  float: right;
  margin-top: 10px;
  font-size: 90%;
}
#curs-allele-add table {
  width: 100%;
}
#curs-allele-add tr td:first-child {
  width: 10em;
}
tr.curs-allele-expression td {
  padding-top: 15px;
}

#curs-allele-description-example {
  font-size: 90%;
  color: #666;
  font-style: italic;
  white-space: nowrap;
}

form label.error {
  padding-left: 1em;
  color: red;
}

.curs-allele-condition-button span.ui-button-text {
  font-size: 80%;
}

a.curs-editable-table-field {
  white-space: nowrap;
}

a.curs-editable-table-field:hover img, a.curs-editable-table-long-field:hover img
{
  opacity:1.0;
  filter:alpha(opacity=100); /* For IE8 and earlier */
}

a.curs-editable-table-field img, a.curs-editable-table-long-field img
{
  opacity:0.4;
  filter:alpha(opacity=40); /* For IE8 and earlier */
}

.curs-transfer-summaries {
  padding-bottom: 0.5em;
}

.curs-transfer-comment-container {
  padding-bottom: 1em;
}

.upload-genes-link {
  padding-top: 9px;
  font-size: 90%;
}

#loading {
  position: absolute;
  z-index: 1000;
}

.faded-overlay, .edit-pending {
  opacity: 0.5;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}

.curs-annotation-quick-add a:hover, .annotation-start .curs-inline-help-icon:hover {
  opacity: 1.0;
}

.curs-annotation-quick-add a, .annotation-start .curs-inline-help-icon {
  padding-left: 10px;
  font-size: 80%;
  opacity: 0.5;
}

.curs-annotation-quick-add {
  display: inline;
}

/* initially hide links that only work with Javascript active */
.curs-js-link {
  display: none;
}

.organism-name {
  font-style: italic;
}

.screenshot {
  border: 1px solid black;
}

/* Hide AngularJS stuff on startup */
.ng-cloak, .x-ng-cloak {
  display: none;
}

/* warning for old IE version */
#ie-browser-warning {
  color: red;
  font-size: 140%;
  border: 3px solid red;
  padding: 20px;
  background-color: white;
}

/* allow tooltips/titles to work on disabled buttons */
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
  pointer-events: auto !important;
  background-color: grey;
}

.modal.fade .modal-dialog {
  -webkit-transition: none;
     -moz-transition: none;
       -o-transition: none;
          transition: none;
   -webkit-transform: none;
       -ms-transform: none;
           transform: none;
}

.modal.fade {
  opacity: 1;
}

.modal-backdrop.fade {
  opacity: .5;
  filter: alpha(opacity=50);
}

.form-control, .help-block {
  width: auto;
  display: inline;
}

.modal-dialog {
/*  margin-top: 5%;*/
}

.modal-dialog select {
  text-overflow: ellipsis;
  max-width: 600px;
}

table tr td.curs-table-row-remove {
  border-style: none;
}

table tr td.curs-table-row-remove a span {
  color: red;
}

/* Bootstrap doesn't change the cursor if there is no href */
a:not([href]) {
  cursor:pointer;
}

#disabled-overlay, #ajax-loading-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1500;
}

#disabled-overlay {
  background-color: rgba(0,0,0,0.2);
}

.inline-edit-active {
  z-index: 3000;
  position: relative;
  background-color: white;
}

.curs-no-annotations-message {
  margin: 10px 10px 10px 20px;
  color: grey;
}

.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }

.checkbox-gene-list {
  display: block;
}

.curs-right-info-message {
  color: #722;
  background-color: #bbf;
  border: 1px solid #aae;
  padding: 2px;
  margin: 6px;
  margin-bottom: 12px;
}
