<div ng-if="annotationType">
  <div class="modal-header">
    <h4 ng-show="newlyAdded" class="modal-title">
      Edit fields to create a new {{annotationType.display_name}} annotation <span ng-show="annotation.feature_display_name">for {{annotation.feature_display_name}}</span>
    </h4>
    <h4 ng-hide="newlyAdded" class="modal-title">
      Edit {{annotationType.display_name}} annotation <span ng-show="annotation.feature_display_name">for {{annotation.feature_display_name}}</span>
    </h4>
  </div>

  <div class="modal-body">
    <div ng-switch="annotationType.category">
    <table ng-switch-when="ontology" class="curs-definition-table">

      <tr ng-if="annotationType.feature_type === 'gene'"
          ng-class="{ 'has-error': !isValidFeature() }">
        <td class="title">
          {{displayAnnotationFeatureType}}
        </td>
        <td>
          <div ng-if="!featureEditable">
            {{currentFeatureDisplayName}}
          </div>
          <div ng-if="featureEditable">
            <feature-chooser feature-type="{{annotationType.feature_type}}"
                             chosen-feature-id="annotation.feature_id"></feature-chooser>
            <span ng-show="!isValidFeature()"
                  class="help-block">Please select a gene</span>
          </div>
        </td>
      </tr>

      <tr ng-if="annotationType.feature_type === 'genotype'"
          ng-class="{ 'has-error': !isValidFeature() }">
        <td class="title">
          {{displayAnnotationFeatureType}}
        </td>
        <td>
          <div ng-if="!featureEditable">
            {{currentFeatureDisplayName}}
          </div>
          <div ng-if="featureEditable">
            <feature-chooser feature-type="{{annotationType.feature_type}}"
                             chosen-feature-id="annotation.feature_id"></feature-chooser>
            <span ng-show="!isValidFeature()"
                  class="help-block">Please select a genotype</span>
          </div>
        </td>
      </tr>

      <tr ng-class="{ 'has-error': !isValidTerm() }">
        <td class="title">Term name</td>
        <td>
          <div>
            <term-name-complete current-term-name="{{annotation.term_name}}"
                                found-callback="termFoundCallback(termId, termName, searchString, matchingSynonym)"
                                annotation-type-name="{{annotationType.name}}">
            </term-name-complete>
            <span ng-show="isValidFeature() && !isValidTerm()"
                  class="help-block">Start typing to choose a term</span>
          </div>
          <div>
            <term-children-query term-id="annotation.term_ontid" term-name="annotation.term_name"></term-children-query>
          </div>
        </td>
      </tr>

      <tr>
        <td class="title">Evidence code</td>
        <td>
          <annotation-evidence evidence-code="annotation.evidence_code"
                               conditions="annotation.conditions"
                               with-gene-id="annotation.with_gene_id"
                               valid-evidence="status.validEvidence"
                               annotation-type-name="{{annotationType.name}}"></annotation-evidence>
        </td>
      </tr>

      <tr>
        <td class="title" rowspan="2">Term suggestion</td>
        <td>
          <input class="form-control"
                 type="text" placeholder="Name ..." size="60"
                 ng-model="annotation.term_suggestion_name"/>
        </td>
      </tr>

      <tr>
        <td>
          <textarea class="form-control"
                    placeholder="Definition ..." cols="60"
                    ng-model="annotation.term_suggestion_definition"/>
        </td>
      </tr>

      <tr>
        <td class="title">Comment</td>
        <td>
          <input class="form-control"
                 type="text" size="60"
                 ng-model="annotation.submitter_comment"/>
        </td>
      </tr>

      <tr ng-show="curatorDetails && !curatorDetails.community_curated || userDetails && userDetails.is_admin">
        <td class="title">Annotation extension</td>
        <td>
          <textarea class="form-control" cols="60"
                    ng-model="annotation.annotation_extension"/>
        </td>
      </tr>

      <tr>
        <td class="title">Curator</td>
        <td>{{annotation.curator}}</td>
      </tr>

    </table>

    <table ng-switch-when="interaction" class="curs-definition-table">

      <tr ng-class="{ 'has-error': !isValidFeature() }">
        <td class="title">
          {{displayAnnotationFeatureType}}
        </td>
        <td>
          <div ng-if="newlyAdded && currentFeatureDisplayName">
            {{currentFeatureDisplayName}}
          </div>
          <div ng-if="!(newlyAdded && currentFeatureDisplayName)">
            <feature-chooser feature-type="{{annotationType.feature_type}}"
                             chosen-feature-id="annotation.feature_id"></feature-chooser>
            <span ng-show="!isValidFeature()"
                  class="help-block">Please select a gene</span>
          </div>
        </td>
      </tr>

      <tr ng-class="{ 'has-error': !isValidInteractingGene() }">
        <td class="title">
          Interacting gene
        </td>
        <td>
          <div>
            <feature-chooser feature-type="{{annotationType.feature_type}}"
                             chosen-feature-id="annotation.interacting_gene_id"></feature-chooser>
          </div>
          <span ng-show="isValidFeature() && !isValidInteractingGene()"
                class="help-block">Please select an interacting gene</span>
        </td>
      </tr>

      <tr>
        <td class="title">Evidence code</td>
        <td>
          <annotation-evidence evidence-code="annotation.evidence_code"
                               conditions="annotation.conditions"
                               with-gene-id="annotation.with_gene_id"
                               valid-evidence="status.validEvidence"
                               annotation-type-name="{{annotationType.name}}"></annotation-evidence
        </td>
      </tr>

      <tr>
        <td class="title">Comment</td>
        <td>
          <input class="form-control"
                 type="text" size="60"
                 ng-model="annotation.submitter_comment"
                 value="{{annotation.submitter_comment}}"/>
        </td>
      </tr>

      <tr>
        <td class="title">Curator</td>
        <td>{{annotation.curator}}</td>
      </tr>

    </table>
  </div>

  <div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" ng-click="ok()" ng-disabled="!isValid()">OK</button>
  </div>

</div>
