<tr>
  <td ng-if="annotationType.feature_type == 'genotype'">
    <div style="white-space: nowrap" ng-repeat="allele in annotation.alleles">
      {{allele.gene_display_name}}
    </div>
  </td>
  <td ng-if="annotationType.feature_type == 'genotype' && !data.hideColumns.genotype_background">
    {{annotation.genotype_background}}
  </td>
  <td ng-if="annotationType.feature_type == 'genotype' && !data.hideColumns.genotype_name">
    <span ng-bind-html="annotation.genotype_name | encodeAlleleSymbols | toTrusted"></span>
  </td>
  <td ng-if="annotationType.feature_type === 'gene' && !featureIdFilter">
    <a ng-if="annotation.status === 'new'"
       href="{{curs_root_uri + '/feature/gene/view/' + annotation.feature_id + (read_only_curs ? '/ro' : '') }}">
      {{annotation.gene_name_or_identifier}}
    </a>
    <span ng-if="annotation.status === 'existing'">
      {{annotation.gene_name_or_identifier}}
    </span>
  </td>
  <td ng-if="annotationType.feature_type != 'gene'">
    <a ng-if="annotation.status === 'new'" href="{{curs_root_uri + '/feature/genotype/view/' + annotation.feature_id + (read_only_curs ? '/ro' : '')}}">
      <div style="white-space: nowrap" ng-repeat="allele in annotation.alleles">
        <span ng-bind-html="allele.long_display_name | encodeAlleleSymbols | toTrusted"></span>
      </div>
    </a>
    <span ng-if="annotation.status === 'existing'">
      <div style="white-space: nowrap" ng-repeat="allele in annotation.alleles">
        <span ng-bind-html="allele.long_display_name | encodeAlleleSymbols | toTrusted"></span>
      </div>
    </span>
  </td>
  <td>
    {{annotation.term_ontid}}
  </td>
  <td>
    {{annotation.term_name}}
  </td>
  <td>
    {{annotation.evidence_code}}
  </td>
  <td ng-if="annotationType.can_have_with && !data.hideColumns.with_or_from_identifier">
    <span ng-if="annotation.with_gene_id">
      <a href="{{curs_root_uri + '/feature/gene/view/' + annotation.with_gene_id + (read_only_curs ? '/ro' : '')}}">
        {{annotation.with_or_from_display_name || annotation.with_or_from_identifier}}
      </a>
    </span>
    <span ng-if="!annotation.with_gene_id">
      {{annotation.with_or_from_display_name || annotation.with_or_from_identifier}}
    </span>
  </td>
  <td ng-if="annotationType.can_have_conditions">
    {{annotation.conditionsString}}
  </td>
  <td ng-if="!data.hideColumns.qualifiers">
    {{annotation.qualifiersString}}
  </td>
  <td ng-if="!data.hideColumns.term_suggestion">
    <div ng-if="annotation.term_suggestion_name || annotation.term_suggestion_definition">
      <div style="font-weight: bold">
{{annotation.term_suggestion_name}}
      </div>
      <div>
        <initially-hidden-text text="{{annotation.term_suggestion_definition}}" link-label="View definition..."></initially-hidden-text>
      </div>
    </div>
  </td>
  <td ng-if="!data.hideColumns.submitter_comment">
    <initially-hidden-text text="{{annotation.submitter_comment}}" link-label="View comment..."></initially-hidden-text>
  </td>
  <td ng-if="!data.hideColumns.annotation_extension">
    {{annotation.annotation_extension | breakExtensions}}
  </td>
  <td ng-if="!data.hideColumns.curator">
    {{annotation.curator}}
  </td>
  <td class="table-row-actions">
    <div ng-if="annotationType && featureStatusFilter === 'new' && !read_only_curs">
      <div>
        <a ng-click="edit()">Edit</a>
      </div>
      <div>
        <a ng-click="duplicate()">Duplicate</a>
      </div>
      <div>
        <a ng-click="delete()">Delete</a>
      </div>
    </div>
  </td>
</tr>

