<span>
  <span ng-hide="features">
Loading ...
  </span>
  <span ng-show="features">
    <select class="form-control" ng-model="chosenFeatureId"
            ng-options="feature.feature_id as feature.display_name for feature in features">
      <option value="">Choose a {{featureType}} ...</option>
    </select>
    <span ng-if="featureType === 'gene'" >
      <a ng-click="openSingleGeneAddDialog()">Add another gene ...</a>
    </span>
  </span>
</span>
