<div ng-show="genotypeList.length > 0">
  <table class="list">
    <thead>
      <tr>
        <th>
Description
        </th>
        <th>
Name (optional)
        </th>
      </tr>
    </thead>
    <tbody>
      <tr genotype-list-row ng-repeat="genotype in genotypeList">
      </tr>
    </tbody>
  </table>
</div>
